force-app/main/default/flows/Slack_Core_Actions_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates a slack channel for this opp</description>
        <name>Create_Channel</name>
        <label>Create Channel</label>
        <locationX>187</locationX>
        <locationY>528</locationY>
        <actionName>slackCreateChannel</actionName>
        <actionType>slackCreateChannel</actionType>
        <connector>
            <targetReference>Create_cr</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>isChannelPrivate</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelName</name>
            <value>
                <elementReference>fChannelName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03K5FDR92B</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Edits the pinned message (from sales cloud app)</description>
        <name>Edit_initial_slack_message</name>
        <label>Edit initial slack message</label>
        <locationX>517</locationX>
        <locationY>2376</locationY>
        <actionName>slackUpdateMessage</actionName>
        <actionType>slackUpdateMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>$Record.Slack_Initial_Channel__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ttEditedMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
            <value>
                <elementReference>$Record.Slack_Initial_Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <elementReference>cWorkspaceID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Invites salesforce users that have authed to a slack app into the slack channel</description>
        <name>Invite_Users</name>
        <label>Invite Users</label>
        <locationX>187</locationX>
        <locationY>1344</locationY>
        <actionName>slackInviteUsersToChannel</actionName>
        <actionType>slackInviteUsersToChannel</actionType>
        <connector>
            <targetReference>Send_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userIdsToInvite</name>
            <value>
                <elementReference>cvUserIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackChannelId</name>
            <value>
                <elementReference>Create_Channel.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForChannel</name>
            <value>
                <stringValue>T03K5FDR92B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03K5FDR92B</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Pins the message sent from slack</description>
        <name>Pin</name>
        <label>Pin</label>
        <locationX>187</locationX>
        <locationY>1584</locationY>
        <actionName>slackPinMessage</actionName>
        <actionType>slackPinMessage</actionType>
        <connector>
            <targetReference>Stamp_Slack_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>doesPinMessage</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>Create_Channel.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessageTimestamp</name>
            <value>
                <elementReference>Send_Message.slackMessageTimestamp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03K5FDR92B</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Message sent into the channel that we create</description>
        <name>Send_Message</name>
        <label>Send Message</label>
        <locationX>187</locationX>
        <locationY>1464</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Pin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A028VJ1KG3G</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>Create_Channel.slackChannelId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ttBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T03K5FDR92B</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Uses the custom notifications notification builder to send a slack message with buttons into the channel</description>
        <name>Send_With_Buttons</name>
        <label>Send With Buttons</label>
        <locationX>187</locationX>
        <locationY>1944</locationY>
        <actionName>custom__Opportunity_Creation_Slack</actionName>
        <actionType>sendNotification</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>cvChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assigns the ID of the collaboration room record created earlier in flow to a collection variable - format required for the custom notification</description>
        <name>assign_channel</name>
        <label>assign channel</label>
        <locationX>187</locationX>
        <locationY>1824</locationY>
        <assignmentItems>
            <assignToReference>cvChannel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_cr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_With_Buttons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Goes through the loop of opp team members 1-by-1 and adds them as a comma separated list into the collection variable cvUserIDs so they can all be invited to the slack channel</description>
        <name>Assign_User_IDs</name>
        <label>Assign User IDs</label>
        <locationX>275</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>cvUserIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_OTMs.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OTMs</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>enter your workspace ID here!</description>
        <name>cWorkspaceID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>T03K5FDR92B</stringValue>
        </value>
    </constants>
    <decisions>
        <description>checks to see if there is already a channel associated to determine if we need to keep going or not</description>
        <name>does_it_have_a_channel</name>
        <label>does it have a channel?</label>
        <locationX>715</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Slack_Initial_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_initial_slack_message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the opp fields have been stamped already. if it has, then skip creating everything</description>
        <name>does_it_have_a_channel_already</name>
        <label>Channel already?</label>
        <locationX>319</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Edit_initial_slack_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Slack_Initial_Channel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Channel</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks to see if this was moved to the stage we want to trigger or not</description>
        <name>What_edit_happened</name>
        <label>What edit happened?</label>
        <locationX>517</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>does_it_have_a_channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Moved_to_Discovery</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discovery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>does_it_have_a_channel_already</targetReference>
            </connector>
            <label>Moved to Discovery</label>
        </rules>
    </decisions>
    <description>Flow that demonstrates a majority of slack core actions by creating channel when opp hits discovery stage</description>
    <environments>Default</environments>
    <formulas>
        <description>&quot;Ohana, Inc.&quot;  --&gt; &quot;Ohana-inc-&quot;</description>
        <name>fChannelName</name>
        <dataType>String</dataType>
        <expression>LEFT(&quot;opp-&quot;&amp;LOWER(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE({!$Record.Name},&quot; &quot;,&quot;-&quot;),&quot;,&quot;,&quot;-&quot;),&quot;.&quot;,&quot;-&quot;),&quot;-&quot;,&quot;~^&quot;),&quot;^~&quot;,&quot;&quot;),&quot;~^&quot;,&quot;-&quot;)),80)</expression>
    </formulas>
    <formulas>
        <description>URL format required to include a hyperlink on the sales channel related list</description>
        <name>fChannelURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://slack.com/app_redirect?channel=&quot;&amp;{!Create_Channel.slackChannelId}&amp;&quot;&amp;team=T03K5FDR92B&quot;</expression>
    </formulas>
    <interviewLabel>*Slack Core Actions |Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>*Slack Core Actions | Opportunity</label>
    <loops>
        <description>Loops through all members of the opportunity team member on this opportunity 1-by-1 and stores the fields in collection</description>
        <name>Loop_Through_OTMs</name>
        <label>Loop Through OTMs</label>
        <locationX>187</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_Opp_Team_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Invite_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>creates the collaboration room - a backend object storing the workspace/channel id that cannot be edited in salesforce ui</description>
        <name>Create_cr</name>
        <label>Create cr</label>
        <locationX>187</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>Create_Sales_Channel</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PlatformKey</field>
            <value>
                <elementReference>Create_Channel.slackChannelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TeamKey</field>
            <value>
                <elementReference>cWorkspaceID</elementReference>
            </value>
        </inputAssignments>
        <object>CollaborationRoom</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates the Swarm object related to this opportunity - functioning as a &quot;sales channel&quot; and containing link to slack</description>
        <name>Create_Sales_Channel</name>
        <label>Create Sales Channel</label>
        <locationX>187</locationX>
        <locationY>768</locationY>
        <connector>
            <targetReference>Get_Opp_Team_Members</targetReference>
        </connector>
        <inputAssignments>
            <field>CollaborationRoomId</field>
            <value>
                <elementReference>Create_cr</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationTool</field>
            <value>
                <stringValue>Slack</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CollaborationUrl</field>
            <value>
                <elementReference>fChannelURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fChannelName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedRecordId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartedDateTime</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UsageType</field>
            <value>
                <stringValue>DealRoom</stringValue>
            </value>
        </inputAssignments>
        <object>Swarm</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Queries for all of the opportunity team members belonging to this opportunity</description>
        <name>Get_Opp_Team_Members</name>
        <label>Get Opp Team Members</label>
        <locationX>187</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_OTMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>After the channel is created and message is sent, this will stamp those respective IDs onto custom fields on the opportunity object. this is helpful for using within this flow to edit the message later.</description>
        <name>Stamp_Slack_Fields</name>
        <label>Stamp Slack Fields</label>
        <locationX>187</locationX>
        <locationY>1704</locationY>
        <connector>
            <targetReference>assign_channel</targetReference>
        </connector>
        <inputAssignments>
            <field>Slack_Initial_Channel__c</field>
            <value>
                <elementReference>Create_Channel.slackChannelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_Initial_Message__c</field>
            <value>
                <elementReference>Send_Message.slackMessageTimestamp</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Amount</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>NextStep</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>What_edit_happened</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>markdown format of the message sent into slack</description>
        <name>ttBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*New Sales Channel Created For &lt;{!$Record.Record_Hyperlink_URL__c}|{!$Record.Name}&gt;* :rotating_light:

&gt;Current Stage: {!$Record.StageName}
&gt;Close Date: {!$Record.CloseDate}
&gt;Amount: {!$Record.Amount}</text>
    </textTemplates>
    <textTemplates>
        <description>when we want to edit the pinned message, this is what will show up</description>
        <name>ttEditedMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*New Update to &lt;{!$Record.Record_Hyperlink_URL__c}|{!$Record.Name}&gt;* :rotating_light:

&gt;*Current Stage:* {!$Record.StageName}
&gt;*Close Date:* {!$Record.CloseDate}
&gt;*Amount:* {!$Record.Amount}
&gt;*Next Step:* {!$Record.NextStep}</text>
    </textTemplates>
    <variables>
        <description>Channel that we create - collection variable required for the custom notification (message with button)</description>
        <name>cvChannel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>User IDs of all the opportunity team members. collection variable required for invite.</description>
        <name>cvUserIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
